<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate RSA Key</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'generate_rsa/generate_rsa.css' %}">
</head>
<body>
    <div class="container">
        <h1>Generate RSA Key</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <button type="submit">Generate RSA Key</button>
        </form>
    </div>
</body>
</html>